body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(202, 202, 202);
}

h1 {
  color: rgb(47, 0, 255);
}

form {
  background-color: rgb(255, 255, 0);
  border: 5px solid;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 3px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

label {
  font-size: 1.1em;
  font-weight: bold;
}

button {
  background-color: rgb(0, 0, 255);
  font-size: 1, 1em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 255);
  transition: 500ms ease-in-out;
}

#result {
  font-size: 16px;
  font-weight: bold;
}
